@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --breakpoint-2xl: initial;
  --breakpoint-xl: 1200px;
  --breakpoint-lg: 992px;
  --breakpoint-md: 768px;
  --breakpoint-sm: 640px;
  --color-primary: #1c1c22;
  --color-accent: #00ff99;
  --color-hover: #00e187;
  --font-primary: var(--font-jetBrainsMono, monospace);
  ;
}

@layer base {
  body {
    @apply font-primary leading-loose text-white bg-primary;
  }
}