@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --breakpoint-2xl: initial;
  --breakpoint-xl: 1200px;
  --breakpoint-lg: 992px;
  --breakpoint-md: 768px;
  --breakpoint-sm: 640px;
  --font-display: jetBrainsMono;
}

html {
  font-family: var(--font-display);
}